<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}" >
    <input type="submit" value="Cancel"/>
</form>

<p>
    <a th:href="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}"> Cancel </a>
</p>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">
    
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{fullName}" id="name"/>
    <p style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"> Error </p>

    <label for="age"> Enter age </label>
    <input type="text" th:field="*{age}" id="age"/>
    <p style="color:red" th:if="${#fields.hasErrors('age')}" th:erros="*{age}"> Age must being in range from 1940 until 2024 </p>

    <input type="submit" value="Update"/>

</form>

</body>
</html>