<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>

<form th:action="@{/books}" >
    <input type="submit" value="Books page"/>
</form>
<!-- th:object="${}" -->
<form th:action="@{/books/pagination}">
    <label for="pageId" > Page for display </label>
<!--    <input type="text" name="pageId" id="pageId">-->
    <input type="text" name="page" id="pageId" value="${page}"/>

<!--     name="Books page" -->

<!--    <label for="bpp"> Books per page </label>-->
<!--    <input type="number" name="Books per page" id="bpp" value=""/>-->

    <input type="submit" value="get page with books"/>
</form>

<hr/>

<form  th:action="@{/people/new}" >
    <input type ="submit" value="Create new user"/>
</form>

<hr/>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getPersonId()})}"
       th:if="${person.getPersonId() != -1}" th:text="${person.getFullName()}"> user </a>
</div>

</body>
</html>