<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>

<form th:action="@{/books}" >
    <input type="submit" value="Books page"/>
</form>

<form th:action="@{/books}">
    <label for="pageId" > Page for display </label>
    <input type="text" name="page" id="pageId" value=""/>

    <label for="books_per_page"> Books per page </label>
    <input type="text" name="books_per_page" id="books_per_page" value=""/>

    <label for="sort_by_year"> Sort by year </label>
    <input type="checkbox" name="sort_by_year" id="sort_by_year" checked="checked">

    <input type="submit" value="get page with books"/>
</form>

<hr/>

<form  th:action="@{/people/new}" >
    <input type ="submit" value="Create new user"/>
</form>

<hr/>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getPersonId()})}"
       th:if="${person.getPersonId() != -1}" th:text="${person.getFullName()}"> user </a>
</div>

</body>
</html>