<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample name</title>
</head>
<body>

<form th:action="@{/people}" >
    <input type="submit" value="Home page"/>
</form>

<p th:text="${person.getFullName()} + ', ' + ${person.getAge()}" > Value </p>

<hr/>

<div th:if="${person.getBooks().isEmpty() == true}">
    <div> Человек без книги </div>
</div>

<div th:if="${person.getBooks().isEmpty() != true}">
    <div th:each="book : ${books}">
        <div th:if="${person.getPerson_id() == book.getOwner().getPerson_id()}" th:text="${book.getTitle()}"> Title of book that was getting by person</div>
    </div>
</div>

<hr>

<form th:action="@{/people/{id}/edit(id=${person.getPerson_id()})}">
    <input type="submit" value="Edit" />
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>