<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample name</title>
</head>
<body>

<p>
    <a th:href="@{/people}"> return to home page</a>
</p>

<p th:text="${person.getFullName()} + ', ' + ${person.getBorn()}" > Value </p>
<!-- ${person.getPerson_id()} + ', ' +  -->
<hr>

<form th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}">
    <input type="submit" value="Edit" />
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>