<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book information</title>
</head>
<body>

<p>
    <a th:href="@{/books}"> home page </a>
</p>

<p th:text="${book.getTitle()}"> Title </p>
<p th:text="${book.getAuthor()}"> Author </p>
<p th:text="${book.getYear()}"> Year </p>
<!--<p th:if="${book.getPerson_id()} == 9999" -->
<!--   th:text="Эта книга свободна"> </p>-->

<p th:text="${book.getPerson_id()} + ', ' + ForeignKey" > </p>

<p>
    <a th:href="@{/books/{id}/changeFK(id=${book.getId()})}" > Change foreign key </a>
</p>

<p th:text="${book.getPerson_id() eq -1 ? 'Книга свободна' : 'Книга занята'}" ></p>

<!--<a th:href="@{/books/{id}/edit(id=${book.getId()})}"> Edit book</a>-->

<hr>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" >
    <input type="submit" value = "Delete!"/>
</form>

</body>
</html>